body {
    font-family: cursive;
    margin: 0;
    padding:0;                      /* z, y */          
    background: url('p.jpg') no-repeat center center fixed;
    background-size: cover;
}
header {
    background-color: rgba(128, 203, 196, 0.0);
    text-align: center;
    padding: 2px 0;
    position:relative;
}
.logo-container {
  
    display: inline-block;
    position: relative;
}
.logo {
    font-family: cursive;
    font-size: 50px;
    color: #004D40;
    text-shadow: 2px 2px 4px white ;
}

nav {
    background-color: rgba(178, 235, 242, 0.8); 
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #004D40;
    text-decoration: none;
    padding: 13px 23px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: rgba(0, 77, 64, 0.8);
    color: rgba(178, 235, 242, 0.8); 
}


section {
    font-family: cursive; 
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 253, 231, 0.8); 
    border-radius: 40px;
    border: 2px solid #80CBC4; 
}

footer {
     font-family: cursive; 
    text-align: center;
    padding: 10px 10;
    background-color: rgba(178, 235, 242, 0.8);
    color: #004D40; 
    position: fixed;
    width: 100%;
    bottom: 0;
}